<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ifnoticias.com.br.ifnoticias">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IFNotícias"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.SplashScreen"
            android:label="IFNotícias">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".View.principaisNoticias"></activity>
        <activity android:name=".View.visualizaNoticia" />
        <activity android:name=".View.ComunicadosNoticias"></activity>
    </application>

</manifest>